{% extends "base.html" %}
{% block title %}About {%endblock%}
{% block head %} 
<link rel="stylesheet" href="{{ url_for('static',
    filename='css/custom_css/about.css') }}">

{%endblock%}
{% block content %}
<div>


    <div class="container">
        <div>
            <h2 style="text-align: center;">About me</h2>
            <div class="row">
                <div class="col">
                    <img src="{{ url_for('static', filename='images/vertical1.jpg') }}" class="img-responsive" >
                </div>

                <div class="col">
                   <p>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quasi reiciendis sit fuga iusto possimus magnam dolore perferendis ab a suscipit voluptate officiis, iure minus atque nemo, dolores voluptatibus nulla.
                   </p>

                </div>
        
            </div>
        </div>
        <div>
            <h2 style="text-align: center;">Education</h2>
            <div class="row">
                <div class="col">
                    <img src="https://humber.ca/brand/sites/default/files/logos/Primary_Logo/Humber_Logo_Blue_and_Gold.png" class="img-responsive" >
                </div>

                <div class="col">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ut eos tenetur sit error quam libero cumque labore ipsa fuga non aliquam, atque perspiciatis quasi, odit molestias magnam voluptatibus quos.</p>

                </div>
        
            </div>
        </div>
        <div>
            <h2 style="text-align: center;">Passion</h2>
            <div class="row">
                

                <div class="col">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ut eos tenetur sit error quam libero cumque labore ipsa fuga non aliquam, atque perspiciatis quasi, odit molestias magnam voluptatibus quos.</p>

                </div>
                <div class="col">
                    <img src="{{ url_for('static', filename='images/square1.jpg') }}" class="img-responsive" >
                </div>
        
            </div>
        </div>
        
        <div>
            <h2 style="text-align: center;">Random Facts</h2>
            <div class="row">
                <div class="col">
                    <img src="https://humber.ca/brand/sites/default/files/logos/Primary_Logo/Humber_Logo_Blue_and_Gold.png" class="img-responsive" >
                </div>

                <div class="col">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ut eos tenetur sit error quam libero cumque labore ipsa fuga non aliquam, atque perspiciatis quasi, odit molestias magnam voluptatibus quos.</p>

                </div>
        
            </div>
        </div>
    </div>
    
</div>

{%endblock%}