<!-- Base template for every page -->

<!DOCTYPE html>
<html lang="en">

<head>
    <!--Logo for title-->
    <link rel="shortcut icon"
          href="{{ url_for('static',
                           filename='icons/logo.ico')
                 }}">
    <!--Title-->
    <title>{% block title %}{%endblock%}</title>
    {% block head %}{%endblock%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom_css/hov.css" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/bootstrap_js/bootstrap.bundle.js') }}"></script>

</head>


<body>
<!-- Begin Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <!--Icon on the left navbar-->
        <div>
            <!--Return Home Page-->
            <a href="/about">
                <img src="/static/icons/home.png" width="30" height="30"/>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>

        <!--Item in the navbar-->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <!-- About -->
                <li class="nav-item">
                    <a class="nav-link active" href="/about">About</a>
                </li>
                <!-- Skills -->
                <li class="nav-item">
                    <a class="nav-link active" href="/skills">Skills</a>
                </li>
                <!-- Projects -->
                <li class="nav-item">
                    <a class="nav-link active" href="/projects">Projects</a>
                </li>
                <!-- Contact -->
                <li class="nav-item">
                    <a class="nav-link active" href="/contact">Contact</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<!-- Content  -->
{% block content %}

{%endblock%}

<!-- Begin Footer -->




</body>
</html>