<footer class="footer">
    <div class="social-media-header">
        <h2 style="text-align: center;">Social Media </h2>
    </div>
        <!--Social Media -->
        <div class="container">
        <div class="social-media ">
           <div class="row d-flex p-2 justify-content-center">
            <!--Facebook-->
            <div class="social-media-facebook col-2 d-flex p-2 justify-content-center">
                <a href="/social-media-facebook">
                    <img src="https://img.icons8.com/glyph-neue/64/000000/facebook-new.png"/>
                </a>
            </div>
            <!--Instagram-->
            <div class="social-media-instagram col-2 d-flex p-2 justify-content-center">
                <a href="/social-media-instagram">
                    <img src="https://img.icons8.com/ios-filled/50/000000/instagram--v1.png"/>
                </a>
            </div>
            <!--Linkedin-->
            <div class="social-media-linkedin col-2  d-flex p-2 justify-content-center">
                <a href="/social-media-linkedin">
                    <img src="https://img.icons8.com/ios-filled/50/000000/linkedin.png"/>
                </a>
            </div>
</div>

        </div>
        </div>
    </div>
    


</footer>